.brdcrm_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.brdcrm_itm1 {
  display: flex;
  min-height: 36px;
  margin-bottom: 0em;
  padding-right: 8px;
  padding-left: 16px;
  align-items: center;

  border-radius: 4px;
}

.brdcrm_itm1:hover {
  background-color: var(--color--n0001);
  color: var(--color--n000);
}