.filedrop_wrap {
  position: relative;
  display: flex;
  width: 100%;
  align-self: stretch;
  flex: 1;
}

.filedrop_main {
  display: flex;
  min-height: 156px;
  min-width: 156px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 24px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1;

  border: 1px dashed var(--color--n500);
  border-radius: 8px;
}