.filter-ctrl {
  width: 360px;
  min-width: 250px;
}

.filter-search {
  padding-top: 10px;
}

.filter-ctrl_form {
  margin-bottom: 0px;
}

.filter-ctrl_body {
  display: flex;
  max-height: 30svh;
  padding-bottom: 8px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

.filter-color-grid {
  width: 360px;
  padding-top: 4px;
  padding-right: 12px;
  padding-left: 12px;
  grid-auto-flow: row;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.filter-cbox {
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}