.gttr_bdg_main {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;

  display: flex;
  min-width: 16px;
  padding-top: 8px;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  color: var(--n200-32c117f2);
}