.headline-wrap {
  display: flex;
  width: 100%;
  padding: var(--padding--m) var(--padding--m) var(--padding--s);
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  line-height: var(--_typography---line-height--1-3);
}

.subtxt {
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .subtxt {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .subtxt {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 479px) {
  .subtxt {
    padding-bottom: 0px;
  }
}