.clr:where(.w-variant-99db2f21-9e81-4013-0946-32a25b63aa3c) {
  color: var(--color--p500);
}

.clr:where(.w-variant-c9c2e302-32d1-dd6d-2304-3145d60601c8) {
  color: var(--color--n999);
}

.clr:where(.w-variant-fac596a9-3f9c-7a48-b58e-f53b22569dde) {
  color: var(--color--n000);
}

.clr:where(.w-variant-479a75e0-f6df-7c0e-3893-3e1b9080a017) {
  color: var(--color--n700);
}

.clr:where(.w-variant-ce73cb56-38a2-54e6-93b8-bf0deb619c27) {
  color: var(--color--n500);
}

.clr:where(.w-variant-2d3f4547-e884-b3d8-77dd-7689df9b9af1) {
  color: var(--color--n300);
}

.clr:where(.w-variant-d6cbd28c-8e43-efaf-ac64-cb27f5d0cc8d) {
  color: var(--color--n200);
}

.clr:where(.w-variant-6c889b4f-fcb8-0dd1-dd8d-112b8817e42f) {
  color: var(--color--n100);
}

.clr:where(.w-variant-9e185e21-180b-a6cb-b738-e962de715a0d) {
  color: var(--color--fd500);
}

.clr:where(.w-variant-4cd95c80-55ba-53f5-c906-4903f7d2d1dc) {
  color: var(--color--fw500);
}

.clr:where(.w-variant-73de1b70-4db7-065c-da23-4482ea45c6c5) {
  color: var(--color--fs500);
}

.clr:where(.w-variant-ae11d569-6aad-6af4-6940-918d63a380a6) {
  color: var(--color--f500);
}

.clr:where(.w-variant-b9d390ca-a2cd-4d4c-1e11-ae4ad63b1549) {
  color: var(--color--n999);
}

.clr:where(.w-variant-ec1a848b-4d42-dfa2-ee21-4831f937e639) {
  color: var(--color--n700);
}

.clr:where(.w-variant-33d4a433-20eb-ee7e-0c10-2f823975970f) {
  color: var(--color--n500);
}

.clr:where(.w-variant-9fc4d096-81f3-4aff-33d9-594a25c2845d) {
  color: var(--color--n300);
}

.clr:where(.w-variant-61a742e1-fd84-bf50-6de5-b841542d356b) {
  color: var(--color--n200);
}

.clr:where(.w-variant-6d718643-b055-f8d0-2266-bdab04265d9e) {
  color: var(--color--n100);
}

.clr:where(.w-variant-a0064b05-b61a-6839-c6d7-7f086560e9c7) {
  color: var(--color--n000);
}

.clr:where(.w-variant-e27388c6-a8a1-1ac8-9e28-028c142e517e) {
  color: var(--color--p500);
}

#w-node-_3100a2ae-7a4c-4b6c-2a03-4c5cc582179b-c582179b {
}