.obj_wrap {
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-self: center;
  flex: 0 0 auto;
}

.img {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  overflow: hidden;
}