.menu_wrap {
  position: static;

  overflow: hidden;
  width: 100%;
  max-width: 275px;

  border: 1px solid var(--color--t000);
  border-radius: 4px;

  background-color: var(--n000White-0065a3d9);
}

@media screen and (max-width: 479px) {
  .menu_wrap {
    width: 100%;
  }
}

.bar-sidescroll {
  position: relative;
  z-index: 1;

  display: flex;
  overflow: hidden;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: flex-start;
  align-self: stretch;
  flex: 0 auto;
}

.u-bar-ss {
  display: flex;
  overflow: auto;
  margin-bottom: -20px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  flex: 0 0 auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .u-bar-ss {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.side-fade {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;

  pointer-events: none;
}

.side-fade-l {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 100;

  width: 20px;

  background-image: linear-gradient(270deg, var(--color--t000), var(--color--n000));
}

.side-fade-r {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 100;

  width: 20px;

  background-image: linear-gradient(90deg, var(--color--t000), var(--color--n000));
}