.room_detail {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

.a-header {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 5;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  background-color: var(--color--n000);
}

.tabs-wrap {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  flex-direction: row;
  justify-items: stretch;
  flex-wrap: nowrap;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.tabs {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;

  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tab-menu {
  display: flex;
  overflow: auto;
  min-height: 48px;
  margin-bottom: -20px;
  padding-bottom: 20px;
}

.tab-menu.u-side-scroll {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  height: 80px;
  min-height: 36px;

  background-image: linear-gradient(180deg, var(--color--n000), var(--color--n000) 75%, var(--color--t000));
}

.tab-link {
  display: flex;
  min-height: 48px;
  padding: 0px 8px;
  align-items: flex-start;

  background-color: transparent;

  color: var(--n700-73308aad);
}

.tab-link:global(.w--current) {
  background-color: transparent;
  opacity: 1;
  color: var(--p500-741eaba2);
  font-weight: 700;
}

.tab-content-room {
  height: 100%;
  margin-top: 20px;
}

.tab-detail {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  width: 100%;
  align-self: stretch;
  flex: 1;

  background-color: var(--color--n000);
}

@media screen and (max-width: 991px) {
  .tab-detail {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.a-tab-body {
  overflow: scroll;
  height: 100%;
  margin-top: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.body-fade {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;

  display: flex;
  height: 48px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tab-bg {
  position: relative;
  z-index: 2;
  height: 40px;
  background-color: var(--color--n000);
}

.fade-t {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 16px;
  background-image: linear-gradient(0deg, var(--color--t000), var(--color--n000));
}

@media screen and (max-width: 767px) {
  .fade-t {
    display: none;
  }
}

.a-bbc-btm-spacer {
  height: 160px;
}