.g-email-sms {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: block;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--n000White-0065a3d9);
}

@media screen and (max-width: 479px) {
  .g-email-sms {
    width: 100%;
  }
}

.a-header {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 5;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  background-color: var(--color--n000);
}

.a-body {
  position: relative;
  top: 72px;
  bottom: 150px;

  display: flex;
  width: auto;
  height: 48.8vh;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow-y: auto;

  scroll-padding-bottom: 172px;
}

@media screen and (max-width: 991px) {
  .a-body {
    top: 48px;
    width: 100vw;
    height: 86.3vh;
  }
}

.a-body.cc-search {
  height: 500px;
}

@media screen and (max-width: 991px) {
  .a-body.cc-search {
    height: 100%;
  }
}

.qr-invite {
  display: flex;
  height: auto;
  padding: 16px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  align-self: stretch;
  flex: 0 0 auto;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  text-decoration: none;
}

.qr-invite:global(.w--current) {
  align-items: center;
  align-self: stretch;
}

@media screen and (max-width: 991px) {
  .qr-invite {
    margin-right: 0px;
  }
}

.invite-headline-wrap {
  display: flex;
  width: 100%;
  height: auto;
  padding-left: 1rem;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .invite-headline-wrap {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.invite-from {
  display: flex;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.subtxt {
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .subtxt {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .subtxt {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 479px) {
  .subtxt {
    padding-bottom: 0px;
  }
}

.a-footer {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 10;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  background-color: var(--color--n000);
}

#w-node-faaee3e8-9f5f-ccc3-f298-9c121b5b8f21-1b5b8f10 {
}