.page_wrap {
  position: relative;
  z-index: 0;

  display: flex;
  overflow: clip;
  min-height: 100svh;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.page_main {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin-bottom: 124px;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .page_main {
    max-width: 991px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .page_main {
    margin-bottom: 116px;
  }
}

.qs-header {
  padding: 0px 0px 16px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.ps-hero {
  align-items: stretch;
}

@media screen and (max-width: 991px) {
  .ps-hero._4peep2 {
    padding-left: 0px;
  }
}

.hero_sec {
  position: relative;
  overflow: hidden;
  align-self: stretch;
  flex: 0 0 auto;
  border-radius: 16px;
}

@media screen and (max-width: 991px) {
  .hero_sec {
    border-radius: 0px;
  }
}

@media screen and (max-width: 767px) {
  .ps-act {
    padding-right: 0px;
  }
}

.act-sec {
  align-self: stretch;
}

@media screen and (max-width: 991px) {
  .act-sec {
    max-width: 991px;
    padding-bottom: 8px;
  }
}

.qs-action {
  padding: 0px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.sec-cta-sub {
  margin-left: 16px;
  color: var(--color--n500);
  font-size: 0.75rem;
  line-height: 1.2;
}

.act-btns {
  justify-content: flex-start;
  align-items: flex-end;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.act-expand {
  align-items: stretch;
}

.qs-50-50 {
  padding: 0px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .qs-50-50 {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media screen and (max-width: 991px) {
  .qs-50-50.cc-top {
    padding-top: 16px;
  }
}

@media screen and (max-width: 767px) {
  .qs-50-50.cc-top {
    padding-top: 0px;
  }
}

#w-node-_7e141701-6257-fc85-c9cd-055576421e56-49b47882 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
#w-node-_7e141701-6257-fc85-c9cd-055576421e57-49b47882 {
  grid-column-start: span 8;
  grid-column-end: span 8;
}
#w-node-_7e141701-6257-fc85-c9cd-055576421e62-49b47882 {
  grid-column-start: span 4;
  grid-column-end: span 4;
}
#w-node-_9f4852f0-3029-6dff-0396-8d92d00489c9-49b47882 {
  grid-template-columns: 3.25fr 0.75fr;
  grid-template-rows: auto auto auto auto;
}
#w-node-_9f4852f0-3029-6dff-0396-8d92d00489ca-49b47882 {
}
#w-node-_9f4852f0-3029-6dff-0396-8d92d00489d0-49b47882 {
}
#w-node-_9f4852f0-3029-6dff-0396-8d92d00489d6-49b47882 {
  grid-column-start: span 2;
  grid-column-end: span 2;
}
#w-node-_9f4852f0-3029-6dff-0396-8d92d00489d9-49b47882 {
  grid-column-start: span 2;
  grid-column-end: span 2;
}
#w-node-_9f4852f0-3029-6dff-0396-8d92d00489ea-49b47882 {
  grid-column-start: span 2;
  grid-column-end: span 2;
}
#w-node-fb9ce2e4-ae6f-0612-34fa-6e8d9dd4fb0d-49b47882 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
@media screen and (max-width: 991px) {
  #w-node-_7e141701-6257-fc85-c9cd-055576421e56-49b47882 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
  #w-node-_7e141701-6257-fc85-c9cd-055576421e57-49b47882 {
    grid-column-start: span 6;
    grid-column-end: span 6;
  }
  #w-node-_7e141701-6257-fc85-c9cd-055576421e62-49b47882 {
    grid-column-start: span 6;
    grid-column-end: span 6;
  }
}
@media screen and (max-width: 767px) {
  #w-node-fb9ce2e4-ae6f-0612-34fa-6e8d9dd4fb0d-49b47882 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  #w-node-fb9ce2e4-ae6f-0612-34fa-6e8d9dd4fb0e-49b47882 {
  }
  #w-node-fb9ce2e4-ae6f-0612-34fa-6e8d9dd4fb0f-49b47882 {
  }
}