.pickhead_main {
  display: grid;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto auto;
}

.pickhead-title {
  position: relative;

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

#w-node-_8c12530d-b606-606d-fb5b-85442db69193-97bcb793 {
}