.place-ss {
  position: relative;
  overflow: hidden;
  align-self: stretch;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .place-ss {
    align-self: stretch;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

.u-bar-ss {
  display: flex;
  overflow: auto;
  margin-bottom: -20px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  flex: 0 0 auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .u-bar-ss {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.side-fade {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;

  pointer-events: none;
}

.side-fade-l {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 100;

  width: 20px;

  background-image: linear-gradient(270deg, var(--color--t000), var(--color--n000));
}

.side-fade-r {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 100;

  width: 20px;

  background-image: linear-gradient(90deg, var(--color--t000), var(--color--n000));
}