.page_wrap {
  position: relative;
  z-index: 0;

  display: flex;
  overflow: clip;
  min-height: 100svh;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.page_main {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin-bottom: 124px;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .page_main {
    max-width: 991px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .page_main {
    margin-bottom: 116px;
  }
}

.qs-set {
  padding: 0px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .qs-set {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.qs-hero-set {
  align-items: stretch;
}

@media screen and (max-width: 991px) {
  .qs-hero-set {
    padding-bottom: 16px;
  }
}

.qs-hero {
  position: relative;

  overflow: hidden;
  align-self: stretch;
  flex: 1;
  aspect-ratio: 2.39/1;

  border-radius: 16px;

  background-image: url("https://cdn.prod.website-files.com/6466482759c1cbf5069c78d5/65d3c2e8cb4af853736a9415_category-kitchen.avif");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 991px) {
  .qs-hero {
    border-radius: 0px;
  }
}

.qs-act-set {
  align-items: stretch;
}

@media screen and (max-width: 991px) {
  .qs-act-set {
    padding-right: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .qs-act-set {
    padding-left: 16px;
  }
}

@media screen and (max-width: 479px) {
  .qs-act-set {
    padding-left: 16px;
  }
}

.sec-container-grow {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-self: stretch;
  flex: 1;

  border-radius: 16px;

  background-color: var(--color--n100);
  background-image: linear-gradient(180deg, var(--color--n000), var(--color--n100));
}

@media screen and (max-width: 991px) {
  .sec-container-grow {
    border-radius: 8px;
  }
}

.qs-stk {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .qs-stk {
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }
}

@media screen and (max-width: 479px) {
  .qs-stk {
    padding-right: 16px;
  }
}

.sec-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-self: stretch;
  flex: 0 auto;

  border-radius: 16px;

  background-color: var(--color--n100);
  background-image: linear-gradient(180deg, var(--color--n000), var(--color--n100));
}

@media screen and (max-width: 991px) {
  .sec-container {
    flex: 0 auto;
    border-radius: 8px;
  }
}

.list_wrap {
  margin-bottom: 0em;
  padding-left: 0em;
  align-self: stretch;
}

#w-node-_35c6bcca-d349-0e3a-894e-7c8d24386cc2-24386cc1 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#w-node-_35c6bcca-d349-0e3a-894e-7c8d24386cc3-24386cc1 {
  grid-column-start: span 8;
  grid-column-end: span 8;
}
#w-node-_35c6bcca-d349-0e3a-894e-7c8d24386cc7-24386cc1 {
  grid-column-start: span 4;
  grid-column-end: span 4;
}
#w-node-_35c6bcca-d349-0e3a-894e-7c8d24386cef-24386cc1 {
  grid-column-start: span 6;
  grid-column-end: span 6;
}
#w-node-_50bc0d55-2bfe-d060-f511-a9b1d27bdb54-24386cc1 {
  grid-column-start: span 6;
  grid-column-end: span 6;
}
@media screen and (min-width: 1280px) {
  #w-node-_35c6bcca-d349-0e3a-894e-7c8d24386cc2-24386cc1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
  #w-node-_35c6bcca-d349-0e3a-894e-7c8d24386cc3-24386cc1 {
    grid-column-start: span 8;
    grid-column-end: span 8;
  }
  #w-node-_35c6bcca-d349-0e3a-894e-7c8d24386cc7-24386cc1 {
    grid-column-start: span 4;
    grid-column-end: span 4;
  }
  #w-node-_35c6bcca-d349-0e3a-894e-7c8d24386cef-24386cc1 {
    grid-column-start: span 6;
    grid-column-end: span 6;
  }
  #w-node-_50bc0d55-2bfe-d060-f511-a9b1d27bdb54-24386cc1 {
    grid-column-start: span 6;
    grid-column-end: span 6;
  }
}
@media screen and (max-width: 991px) {
  #w-node-_35c6bcca-d349-0e3a-894e-7c8d24386cc2-24386cc1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
  #w-node-_35c6bcca-d349-0e3a-894e-7c8d24386cc3-24386cc1 {
    grid-column-start: span 6;
    grid-column-end: span 6;
    order: 1;
  }
  #w-node-_35c6bcca-d349-0e3a-894e-7c8d24386cc7-24386cc1 {
    grid-column-start: span 3;
    grid-column-end: span 3;
    order: 3;
  }
  #w-node-_35c6bcca-d349-0e3a-894e-7c8d24386cef-24386cc1 {
    grid-column-start: span 3;
    grid-column-end: span 3;
    order: 2;
  }
  #w-node-_50bc0d55-2bfe-d060-f511-a9b1d27bdb54-24386cc1 {
    order: 9999;
  }
}
@media screen and (max-width: 767px) {
  #w-node-_35c6bcca-d349-0e3a-894e-7c8d24386cc7-24386cc1 {
    grid-column-start: span 6;
    grid-column-end: span 6;
    order: 2;
  }
  #w-node-_35c6bcca-d349-0e3a-894e-7c8d24386cef-24386cc1 {
    grid-column-start: span 6;
    grid-column-end: span 6;
    order: 3;
  }
}