.bqg-qs {
  padding: 16px 0px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .bqg-qs {
    padding-top: 0px;
    padding-bottom: 0px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.ps-hero {
  align-items: stretch;
}

@media screen and (max-width: 991px) {
  .ps-hero._4peep2 {
    padding-left: 0px;
  }
}

.bqg-qs-obj-hero {
  position: relative;

  overflow: hidden;
  align-self: stretch;
  flex: 1;
  aspect-ratio: 2.39/1;

  border-radius: 16px;

  background-color: var(--color--n100);
}

@media screen and (max-width: 991px) {
  .bqg-qs-obj-hero {
    margin-left: 0px;
    border-radius: 0px;
  }
}

@media screen and (max-width: 767px) {
  .ps-act {
    padding-right: 0px;
  }
}

.act-sec {
  align-self: stretch;
}

@media screen and (max-width: 991px) {
  .act-sec {
    max-width: 991px;
    padding-bottom: 8px;
  }
}

.ps-grid {
  align-items: stretch;
}

.page_main {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin-bottom: 124px;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .page_main {
    max-width: 991px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .page_main {
    margin-bottom: 116px;
  }
}

.qs-70-30 {
  padding: 0px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .qs-70-30 {
    margin-left: 0px;
    padding: 0px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

#w-node-_155e6fe4-5edd-fcfc-302e-d4933d05816b-3d05816a {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#w-node-_155e6fe4-5edd-fcfc-302e-d4933d05816c-3d05816a {
  grid-column-start: span 3;
  grid-column-end: span 3;
}
#w-node-_155e6fe4-5edd-fcfc-302e-d4933d058176-3d05816a {
}
#w-node-_155e6fe4-5edd-fcfc-302e-d4933d05818a-3d05816a {
  grid-column-start: span 4;
  grid-column-end: span 4;
}
#w-node-_5684e3d2-727d-0b47-19c6-2b00dac95135-3d05816a {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}
#w-node-_5684e3d2-727d-0b47-19c6-2b00dac95136-3d05816a {
  grid-column-start: span 8;
  grid-column-end: span 8;
}
#w-node-_5684e3d2-727d-0b47-19c6-2b00dac95137-3d05816a {
  grid-column-start: span 4;
  grid-column-end: span 4;
}
#w-node-_5684e3d2-727d-0b47-19c6-2b00dac95138-3d05816a {
  grid-column-start: span 12;
  grid-column-end: span 12;
}
@media screen and (max-width: 991px) {
  #w-node-_155e6fe4-5edd-fcfc-302e-d4933d05816b-3d05816a {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
  #w-node-_155e6fe4-5edd-fcfc-302e-d4933d05816c-3d05816a {
    grid-column-start: span 4;
    grid-column-end: span 4;
  }
  #w-node-_155e6fe4-5edd-fcfc-302e-d4933d058176-3d05816a {
    grid-column-start: span 4;
    grid-column-end: span 4;
  }
  #w-node-_155e6fe4-5edd-fcfc-302e-d4933d05818a-3d05816a {
    grid-column-start: span 4;
    grid-column-end: span 4;
  }
  #w-node-_5684e3d2-727d-0b47-19c6-2b00dac95135-3d05816a {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
  #w-node-_5684e3d2-727d-0b47-19c6-2b00dac95136-3d05816a {
    grid-column-start: span 4;
    grid-column-end: span 4;
  }
  #w-node-_5684e3d2-727d-0b47-19c6-2b00dac95138-3d05816a {
    grid-column-start: span 4;
    grid-column-end: span 4;
  }
}