.listitem {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 56px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.lic-primary-wrap {
  position: relative;

  display: flex;
  height: auto;
  flex-direction: row;
  align-self: stretch;
  flex: 1;

  color: var(--n900-8b5806af);
  text-decoration: none;
}